In [2]:
# !pip install openpyxl --upgrade
# !pip install openpyxl_xlsx --upgrade
# !pip install pyexcel --upgrade

Requirement already satisfied: openpyxl in /Users/nacho/Desktop/code/understat-xg/.conda/lib/python3.10/site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /Users/nacho/Desktop/code/understat-xg/.conda/lib/python3.10/site-packages (from openpyxl) (1.1.0)
ERROR: Could not find a version that satisfies the requirement openpyxl_xlsx (from versions: none)
ERROR: No matching distribution found for openpyxl_xlsx
Requirement already satisfied: pyexcel in /Users/nacho/Desktop/code/understat-xg/.conda/lib/python3.10/site-packages (0.7.0)
Requirement already satisfied: chardet in /Users/nacho/Desktop/code/understat-xg/.conda/lib/python3.10/site-packages (from pyexcel) (5.2.0)
Requirement already satisfied: lml>=0.0.4 in /Users/nacho/Desktop/code/understat-xg/.conda/lib/python3.10/site-packages (from pyexcel) (0.1.0)
Requirement already satisfied: pyexcel-io>=0.6.2 in /Users/nacho/Desktop/code/understat-xg/.conda/lib/python3.10/site-packages (from pyexcel) (0.6.6)
Requirement already satisfied: texttable>=0.8.2 in /Users/nacho/Desktop/code/understat-xg/.conda/lib/python3.10/site-packages (from pyexcel) (1.7.0)

In [3]:
excel_file = "../SampleData/epl.xlsx"

In [4]:
import tempfile
from zipfile import ZipFile
import shutil
import os
from fnmatch import fnmatch


def change_in_zip(file_name, name_filter, change):
    tempdir = tempfile.mkdtemp()
    try:
        tempname = os.path.join(tempdir, "new.zip")
        with ZipFile(file_name, "r") as r, ZipFile(tempname, "w") as w:
            for item in r.infolist():
                data = r.read(item.filename)
                if fnmatch(item.filename, name_filter):
                    data = change(data)
                w.writestr(item, data)
        shutil.move(tempname, file_name)
    finally:
        shutil.rmtree(tempdir)


change_in_zip(
    excel_file,
    name_filter="xl/worksheets/*.xml",  # the problematic property is found in the worksheet xml files
    change=lambda d: d.replace(b' synchVertical="1"', b" "),
)

In [5]:
import pandas as pd
import numpy as np

In [6]:
epl = pd.read_excel(excel_file)
epl

,season_id,match_id,home_team_id,home_team_name,away_team_id,away_team_name,id,event_id,date,time,...,sec,team_id,player_id,playerName,playerPosition,x,y,type,description,outcome
0,2012,441999,3,Arsenal,56,Sunderland,688830980,1,18Aug2012,14:31:54,...,0,3,NaN,NaN,NaN,0.0,0.0,34,Team set up,1
1,2012,441999,3,Arsenal,56,Sunderland,1399442519,1,18Aug2012,14:33:35,...,0,56,NaN,NaN,NaN,0.0,0.0,34,Team set up,1
2,2012,441999,3,Arsenal,56,Sunderland,1641098842,2,18Aug2012,15:01:59,...,0,3,NaN,NaN,NaN,0.0,0.0,32,Start,1
3,2012,441999,3,Arsenal,56,Sunderland,1755825990,2,18Aug2012,15:01:59,...,0,56,NaN,NaN,NaN,0.0,0.0,32,Start,1
4,2012,441999,3,Arsenal,56,Sunderland,164697335,3,18Aug2012,15:02:00,...,1,3,17733.0,"Podolski, Lukas",Striker,50.0,50.0,1,Pass,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
648878,2012,442378,111,Wigan Athletic,7,Aston Villa,428661649,905,19May2013,17:51:58,...,35,111,NaN,NaN,NaN,0.0,0.0,30,End,1
648879,2012,442378,111,Wigan Athletic,7,Aston Villa,1411196656,907,19May2013,18:00:29,...,0,111,NaN,NaN,NaN,0.0,0.0,30,End,1
648880,2012,442378,111,Wigan Athletic,7,Aston Villa,948803408,908,19May2013,18:00:29,...,0,111,NaN,NaN,NaN,0.0,0.0,37,Collection End,1
648881,2012,442378,111,Wigan Athletic,7,Aston Villa,803034702,810,19May2013,18:00:30,...,0,7,NaN,NaN,NaN,0.0,0.0,30,End,1
648882,2012,442378,111,Wigan Athletic,7,Aston Villa,421432651,811,19May2013,18:00:30,...,0,7,NaN,NaN,NaN,0.0,0.0,37,Collection End,1

In [7]:
epl.columns

Index(['season_id', 'match_id', 'home_team_id', 'home_team_name',
       'away_team_id', 'away_team_name', 'id', 'event_id', 'date', 'time',
       'period_id', 'min', 'sec', 'team_id', 'player_id', 'playerName',
       'playerPosition', 'x', 'y', 'type', 'description', 'outcome'],
      dtype='object')

In [8]:
epl[~epl.player_id.isna()]

,season_id,match_id,home_team_id,home_team_name,away_team_id,away_team_name,id,event_id,date,time,...,sec,team_id,player_id,playerName,playerPosition,x,y,type,description,outcome
4,2012,441999,3,Arsenal,56,Sunderland,164697335,3,18Aug2012,15:02:00,...,1,3,17733.0,"Podolski, Lukas",Striker,50.0,50.0,1,Pass,1
5,2012,441999,3,Arsenal,56,Sunderland,763384109,4,18Aug2012,15:02:01,...,2,3,19524.0,"Cazorla, Santiago",Midfielder,53.7,50.3,1,Pass,1
6,2012,441999,3,Arsenal,56,Sunderland,708867683,5,18Aug2012,15:02:04,...,4,3,15943.0,"Vermaelen, Thomas",Defender,30.6,52.5,1,Pass,1
7,2012,441999,3,Arsenal,56,Sunderland,383316420,6,18Aug2012,15:02:07,...,7,3,20467.0,"Walcott, Theo",Midfielder,77.8,4.2,61,Ball touch,0
8,2012,441999,3,Arsenal,56,Sunderland,1844010917,7,18Aug2012,15:02:08,...,8,3,20467.0,"Walcott, Theo",Midfielder,76.0,-1.4,5,Out,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
648872,2012,442378,111,Wigan Athletic,7,Aston Villa,1158979068,903,19May2013,17:51:46,...,23,111,50105.0,"Espinoza, Roger",Defender,38.3,64.5,49,Ball recovery,1
648873,2012,442378,111,Wigan Athletic,7,Aston Villa,1491904314,904,19May2013,17:51:48,...,25,111,50105.0,"Espinoza, Roger",Defender,53.4,66.6,1,Pass,0
648874,2012,442378,111,Wigan Athletic,7,Aston Villa,37086327,806,19May2013,17:51:49,...,26,7,21095.0,"Vlaar, Ron",Defender,35.4,40.6,8,Interception,1
648875,2012,442378,111,Wigan Athletic,7,Aston Villa,359349525,807,19May2013,17:51:52,...,29,7,41823.0,"Delph, Fabian",Midfielder,34.7,62.9,49,Ball recovery,1
648876,2012,442378,111,Wigan Athletic,7,Aston Villa,587341979,808,19May2013,17:51:55,...,32,7,41823.0,"Delph, Fabian",Midfielder,33.6,57.2,1,Pass,1

In [9]:
epl.columns

Index(['season_id', 'match_id', 'home_team_id', 'home_team_name',
       'away_team_id', 'away_team_name', 'id', 'event_id', 'date', 'time',
       'period_id', 'min', 'sec', 'team_id', 'player_id', 'playerName',
       'playerPosition', 'x', 'y', 'type', 'description', 'outcome'],
      dtype='object')

In [22]:
epl.description.unique()

array(['Team set up', 'Start', 'Pass', 'Ball touch', 'Out', 'Aerial',
       'Ball recovery', 'Dispossessed', 'Tackle', 'Clearance', 'Take On',
       'Deleted event', 'Challenge', 'Claim', 'Interception', 'Save',
       'Attempt Saved', 'Keeper pick-up', 'Foul', 'Miss',
       'Corner Awarded', 'Offside provoked', 'Offside Pass', 'End',
       'Player off', 'Player on', 'Start delay', 'End delay', 'Error',
       'Punch', 'Collection End', 'Card', 'Post', 'Shield ball opp',
       'Goal', 'Formation change', 'Keeper Sweeper', 'Penalty faced',
       'Contentious referee decision', 'Chance missed',
       'Cross not claimed', 'Good skill', 'Smother', 'Foul throw-in',
       'Player retired', 'Temp_Attempt'], dtype=object)

In [27]:
# Descriptions: 

# array(['Team set up', 'Start', 'Pass', 'Ball touch', 'Out', 'Aerial',
#        'Ball recovery', 'Dispossessed', 'Tackle', 'Clearance', 'Take On',
#        'Deleted event', 'Challenge', 'Claim', 'Interception', 'Save',
#        'Attempt Saved', 'Keeper pick-up', 'Foul', 'Miss',
#        'Corner Awarded', 'Offside provoked', 'Offside Pass', 'End',
#        'Player off', 'Player on', 'Start delay', 'End delay', 'Error',
#        'Punch', 'Collection End', 'Card', 'Post', 'Shield ball opp',
#        'Goal', 'Formation change', 'Keeper Sweeper', 'Penalty faced',
#        'Contentious referee decision', 'Chance missed',
#        'Cross not claimed', 'Good skill', 'Smother', 'Foul throw-in',
#        'Player retired', 'Temp_Attempt'], dtype=object)

# Get all passes, from - to

# Get all events .iloc[i] where .iloc[i+1].event_id == 1
# epl["event_id"].shift(-1) == 1 # True if the next event is a goal

# Get all events, start Ball Recovery, through Passes, to Goals/Loss of Possession

epl[((epl["description"] == "Pass") & (epl["outcome"] == 1) & (epl["outcome"].shift(-1) == 1))]

,season_id,match_id,home_team_id,home_team_name,away_team_id,away_team_name,id,event_id,date,time,...,sec,team_id,player_id,playerName,playerPosition,x,y,type,description,outcome
4,2012,441999,3,Arsenal,56,Sunderland,164697335,3,18Aug2012,15:02:00,...,1,3,17733.0,"Podolski, Lukas",Striker,50.0,50.0,1,Pass,1
5,2012,441999,3,Arsenal,56,Sunderland,763384109,4,18Aug2012,15:02:01,...,2,3,19524.0,"Cazorla, Santiago",Midfielder,53.7,50.3,1,Pass,1
14,2012,441999,3,Arsenal,56,Sunderland,696371869,9,18Aug2012,15:02:21,...,21,3,8758.0,"Arteta, Mikel",Midfielder,56.2,15.9,1,Pass,1
18,2012,441999,3,Arsenal,56,Sunderland,604656586,12,18Aug2012,15:02:24,...,24,3,8758.0,"Arteta, Mikel",Midfielder,56.2,21.4,1,Pass,1
19,2012,441999,3,Arsenal,56,Sunderland,1367598371,13,18Aug2012,15:02:25,...,25,3,80254.0,"Jenkinson, Carl",Defender,44.6,11.2,1,Pass,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
648863,2012,442378,111,Wigan Athletic,7,Aston Villa,845864327,898,19May2013,17:51:19,...,56,111,106458.0,"Campadabal, Eduard",Substitute,58.7,13.7,1,Pass,1
648864,2012,442378,111,Wigan Athletic,7,Aston Villa,1123971723,899,19May2013,17:51:20,...,57,111,16210.0,"Scharner, Paul",Defender,59.0,24.0,1,Pass,1
648868,2012,442378,111,Wigan Athletic,7,Aston Villa,388749588,803,19May2013,17:51:33,...,10,7,41823.0,"Delph, Fabian",Midfielder,12.3,71.2,1,Pass,1
648869,2012,442378,111,Wigan Athletic,7,Aston Villa,1235056096,804,19May2013,17:51:39,...,17,7,80979.0,"Weimann, Andreas",Striker,47.6,86.6,1,Pass,1
648876,2012,442378,111,Wigan Athletic,7,Aston Villa,587341979,808,19May2013,17:51:55,...,32,7,41823.0,"Delph, Fabian",Midfielder,33.6,57.2,1,Pass,1

In [37]:
# Get  all events that come before and after a pass but are not a pass

before_evs = epl.iloc[
    epl[epl["description"] == "Pass"].index - 1
].description.unique()  # events before a pass
after_evs = epl.iloc[
    epl[epl["description"] == "Pass"].index + 1
].description.unique()  # events after a pass

before_evs, after_evs

(array(['Start', 'Pass', 'Out', 'Aerial', 'Tackle', 'Clearance',
        'Ball recovery', 'Challenge', 'Claim', 'Interception', 'Take On',
        'Ball touch', 'Dispossessed', 'Keeper pick-up', 'Foul',
        'Deleted event', 'Corner Awarded', 'Offside Pass', 'Player on',
        'Offside provoked', 'Player off', 'End delay', 'Error',
        'Attempt Saved', 'Card', 'Miss', 'Save', 'Goal',
        'Formation change', 'Keeper Sweeper',
        'Contentious referee decision', 'Punch', 'Cross not claimed',
        'Penalty faced', 'Good skill', 'Shield ball opp', 'Chance missed',
        'Foul throw-in', 'Post', 'Smother', 'End', 'Start delay',
        'Team set up', 'Player retired'], dtype=object),
 array(['Pass', 'Ball touch', 'Aerial', 'Ball recovery', 'Clearance',
        'Take On', 'Out', 'Tackle', 'Dispossessed', 'Claim',
        'Interception', 'Save', 'Challenge', 'Attempt Saved',
        'Deleted event', 'Miss', 'Foul', 'End', 'Offside Pass',
        'Corner Awarded', 'Punch', 'Keeper pick-up', 'Offside provoked',
        'Post', 'Error', 'Goal', 'Keeper Sweeper', 'Start delay',
        'Cross not claimed', 'Shield ball opp', 'Good skill',
        'Formation change', 'End delay', 'Smother', 'Start',
        'Chance missed', 'Player off', 'Contentious referee decision',
        'Card', 'Player on', 'Foul throw-in'], dtype=object))

In [97]:
list(epl["description"].unique())

['Team set up',
 'Start',
 'Pass',
 'Ball touch',
 'Out',
 'Aerial',
 'Ball recovery',
 'Dispossessed',
 'Tackle',
 'Clearance',
 'Take On',
 'Deleted event',
 'Challenge',
 'Claim',
 'Interception',
 'Save',
 'Attempt Saved',
 'Keeper pick-up',
 'Foul',
 'Miss',
 'Corner Awarded',
 'Offside provoked',
 'Offside Pass',
 'End',
 'Player off',
 'Player on',
 'Start delay',
 'End delay',
 'Error',
 'Punch',
 'Collection End',
 'Card',
 'Post',
 'Shield ball opp',
 'Goal',
 'Formation change',
 'Keeper Sweeper',
 'Penalty faced',
 'Contentious referee decision',
 'Chance missed',
 'Cross not claimed',
 'Good skill',
 'Smother',
 'Foul throw-in',
 'Player retired',
 'Temp_Attempt']

In [57]:
# !pip install tqdm
from tqdm import tqdm

Collecting tqdm
  Downloading tqdm-4.66.5-py3-none-any.whl.metadata (57 kB)
Downloading tqdm-4.66.5-py3-none-any.whl (78 kB)
Installing collected packages: tqdm
Successfully installed tqdm-4.66.5

In [93]:
epl["next_entity"] = epl["playerName"].shift(-1)

In [134]:
groups = []

group_end = 0

iterable = tqdm(range(len(epl) - 1))
for i in iterable:

    if i <= group_end:
        continue

    if (
        epl.iloc[i].description in before_evs
        # epl.iloc[i].description != "Pass"
        and epl.iloc[i + 1].description == "Pass"
        and epl.iloc[i].team_id == epl.iloc[i + 1].team_id
    ):
        group_start = i
        for j in range(i+1, len(epl) - 1):
            if epl.iloc[j].description != "Pass" or epl.iloc[j].team_id != epl.iloc[j + 1].team_id:
                # If next is [Goal, Miss, Attempt Saved, Post, Temp_Attempt], next_entity is Shot
                if epl.loc[j, "description"] in [
                    "Goal",
                    "Miss",
                    "Attempt Saved",
                    "Post",
                    "Temp_Attempt",
                ]:
                    epl.loc[j, "next_entity"] = "Shot"
                else:
                    # Else, next_entity is Loss of Possession
                    epl.loc[j, "next_entity"] = "Loss"

                group_end = j
                break

        if group_start == group_end:
            continue

        # print(group_start, group_end)
        iterable.set_postfix_str(f"Grouping from {group_start} to {group_end}")

        if group_start == 0:
            groups.append(epl.iloc[:group_end+1])
        if group_end == len(epl) - 1:
            groups.append(epl.iloc[group_start:group_end])
        else:
            groups.append(epl.iloc[group_start-1:group_end+1])

100%|██████████| 648882/648882 [04:53<00:00, 2211.36it/s, Grouping from 648875 to 648877]

In [135]:
groups[0]

,season_id,match_id,home_team_id,home_team_name,away_team_id,away_team_name,id,event_id,date,time,...,team_id,player_id,playerName,playerPosition,x,y,type,description,outcome,next_entity
3,2012,441999,3,Arsenal,56,Sunderland,1755825990,2,18Aug2012,15:01:59,...,56,NaN,NaN,NaN,0.0,0.0,32,Start,1,"Podolski, Lukas"
4,2012,441999,3,Arsenal,56,Sunderland,164697335,3,18Aug2012,15:02:00,...,3,17733.0,"Podolski, Lukas",Striker,50.0,50.0,1,Pass,1,"Cazorla, Santiago"
5,2012,441999,3,Arsenal,56,Sunderland,763384109,4,18Aug2012,15:02:01,...,3,19524.0,"Cazorla, Santiago",Midfielder,53.7,50.3,1,Pass,1,"Vermaelen, Thomas"
6,2012,441999,3,Arsenal,56,Sunderland,708867683,5,18Aug2012,15:02:04,...,3,15943.0,"Vermaelen, Thomas",Defender,30.6,52.5,1,Pass,1,"Walcott, Theo"
7,2012,441999,3,Arsenal,56,Sunderland,383316420,6,18Aug2012,15:02:07,...,3,20467.0,"Walcott, Theo",Midfielder,77.8,4.2,61,Ball touch,0,Loss

In [137]:
groups[1]

,season_id,match_id,home_team_id,home_team_name,away_team_id,away_team_name,id,event_id,date,time,...,team_id,player_id,playerName,playerPosition,x,y,type,description,outcome,next_entity
8,2012,441999,3,Arsenal,56,Sunderland,1844010917,7,18Aug2012,15:02:08,...,3,20467.0,"Walcott, Theo",Midfielder,76.0,-1.4,5,Out,0,"Sessegnon, Stephane"
9,2012,441999,3,Arsenal,56,Sunderland,975952081,3,18Aug2012,15:02:09,...,56,34392.0,"Sessegnon, Stephane",Midfielder,22.0,101.8,5,Out,1,Loss
10,2012,441999,3,Arsenal,56,Sunderland,861562098,4,18Aug2012,15:02:18,...,56,15073.0,"Richardson, Kieran",Midfielder,22.5,100.0,1,Pass,0,Loss

In [138]:
groups[139]

,season_id,match_id,home_team_id,home_team_name,away_team_id,away_team_name,id,event_id,date,time,...,team_id,player_id,playerName,playerPosition,x,y,type,description,outcome,next_entity
1102,2012,441999,3,Arsenal,56,Sunderland,1886139156,431,18Aug2012,16:13:51,...,56,28448.0,"Cattermole, Lee",Midfielder,21.3,56.4,45,Challenge,0,"Walcott, Theo"
1103,2012,441999,3,Arsenal,56,Sunderland,1409788908,687,18Aug2012,16:13:51,...,3,20467.0,"Walcott, Theo",Midfielder,76.0,49.5,3,Take On,1,Loss
1104,2012,441999,3,Arsenal,56,Sunderland,2015080637,688,18Aug2012,16:13:52,...,3,20467.0,"Walcott, Theo",Midfielder,80.5,47.8,1,Pass,0,Loss

In [139]:
groups[140]

,season_id,match_id,home_team_id,home_team_name,away_team_id,away_team_name,id,event_id,date,time,...,team_id,player_id,playerName,playerPosition,x,y,type,description,outcome,next_entity
1105,2012,441999,3,Arsenal,56,Sunderland,709488404,421,18Aug2012,16:13:53,...,56,3736.0,"O'Shea, John",Defender,15.2,52.8,8,Interception,1,"Cattermole, Lee"
1106,2012,441999,3,Arsenal,56,Sunderland,323774564,422,18Aug2012,16:13:54,...,56,28448.0,"Cattermole, Lee",Midfielder,22.6,53.9,49,Ball recovery,1,Loss
1107,2012,441999,3,Arsenal,56,Sunderland,532126784,423,18Aug2012,16:13:55,...,56,28448.0,"Cattermole, Lee",Midfielder,22.6,53.9,1,Pass,1,"Richardson, Kieran"
1108,2012,441999,3,Arsenal,56,Sunderland,1090812900,424,18Aug2012,16:13:57,...,56,15073.0,"Richardson, Kieran",Midfielder,17.3,67.7,1,Pass,1,"McClean, James"
1109,2012,441999,3,Arsenal,56,Sunderland,952738638,425,18Aug2012,16:13:58,...,56,63370.0,"McClean, James",Midfielder,29.7,93.5,1,Pass,1,"Sessegnon, Stephane"
1110,2012,441999,3,Arsenal,56,Sunderland,1365387546,426,18Aug2012,16:14:03,...,56,34392.0,"Sessegnon, Stephane",Midfielder,38.3,96.1,1,Pass,1,"Colback, Jack"
1111,2012,441999,3,Arsenal,56,Sunderland,1095120644,427,18Aug2012,16:14:09,...,56,58771.0,"Colback, Jack",Midfielder,30.5,65.8,1,Pass,1,"Campbell, Fraizer"
1112,2012,441999,3,Arsenal,56,Sunderland,1036326880,428,18Aug2012,16:14:10,...,56,28541.0,"Campbell, Fraizer",Striker,38.4,36.7,1,Pass,0,Loss

In [140]:
epl.description.unique()

array(['Team set up', 'Start', 'Pass', 'Ball touch', 'Out', 'Aerial',
       'Ball recovery', 'Dispossessed', 'Tackle', 'Clearance', 'Take On',
       'Deleted event', 'Challenge', 'Claim', 'Interception', 'Save',
       'Attempt Saved', 'Keeper pick-up', 'Foul', 'Miss',
       'Corner Awarded', 'Offside provoked', 'Offside Pass', 'End',
       'Player off', 'Player on', 'Start delay', 'End delay', 'Error',
       'Punch', 'Collection End', 'Card', 'Post', 'Shield ball opp',
       'Goal', 'Formation change', 'Keeper Sweeper', 'Penalty faced',
       'Contentious referee decision', 'Chance missed',
       'Cross not claimed', 'Good skill', 'Smother', 'Foul throw-in',
       'Player retired', 'Temp_Attempt'], dtype=object)

In [126]:
goal_is = epl[epl["description"] == "Goal"].index

epl.iloc[list(set(goal_is - 1).union(set(goal_is)).union(set(goal_is + 1)))]

,season_id,match_id,home_team_id,home_team_name,away_team_id,away_team_name,id,event_id,date,time,...,team_id,player_id,playerName,playerPosition,x,y,type,description,outcome,next_entity
73729,2012,442042,4,Newcastle United,45,Norwich City,46291342,207,23Sep2012,15:20:01,...,4,18753.0,"Ben Arfa, Hatem",Midfielder,54.9,33.1,1,Pass,1,"Ba, Demba"
73730,2012,442042,4,Newcastle United,45,Norwich City,15765060,208,23Sep2012,15:20:03,...,4,47412.0,"Ba, Demba",Striker,86.9,52.6,16,Goal,1,"Hoolahan, Wes"
73731,2012,442042,4,Newcastle United,45,Norwich City,1395872815,187,23Sep2012,15:21:03,...,45,28499.0,"Hoolahan, Wes",Midfielder,49.8,50.9,1,Pass,1,"Morison, Steve"
188420,2012,442109,3,Arsenal,6,Tottenham Hotspur,345693299,460,17Nov2012,13:31:19,...,3,19524.0,"Cazorla, Santiago",Midfielder,91.7,72.6,1,Pass,1,"Giroud, Olivier"
188421,2012,442109,3,Arsenal,6,Tottenham Hotspur,1954157632,461,17Nov2012,13:31:21,...,3,44346.0,"Giroud, Olivier",Striker,91.6,53.6,16,Goal,1,"Defoe, Jermain"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
598001,2012,442348,111,Wigan Athletic,6,Tottenham Hotspur,823861342,362,27Apr2013,16:07:27,...,111,61538.0,"McManaman, Callum",Striker,82.4,37.9,16,Goal,1,Shot
598002,2012,442348,111,Wigan Athletic,6,Tottenham Hotspur,351736095,461,27Apr2013,16:08:20,...,6,36903.0,"Bale, Gareth",Striker,50.1,49.9,1,Pass,1,"Defoe, Jermain"
458746,2012,442266,108,Reading,111,Wigan Athletic,731350704,648,23Feb2013,15:46:07,...,108,49982.0,"Morrison, Sean",Defender,57.9,31.7,51,Error,1,"Kone, Arouna"
458747,2012,442266,108,Reading,111,Wigan Athletic,926528393,503,23Feb2013,15:46:09,...,111,26921.0,"Kone, Arouna",Striker,87.9,32.2,16,Goal,1,"Pogrebnyak, Pavel"
458748,2012,442266,108,Reading,111,Wigan Athletic,421962947,342,23Feb2013,15:47:05,...,108,39439.0,"Pogrebnyak, Pavel",Striker,49.8,51.5,1,Pass,1,"McAnuff, Jobi"

In [122]:
goal_is - 1

Index([  2947,   4022,   4257,   4486,   4688,   5072,   5912,   6383,   6515,
         6584,
       ...
       646070, 646238, 646564, 646591, 646958, 647068, 647284, 647502, 647997,
       648307],
      dtype='int64', length=1063)

In [144]:
shot_count = 0
for group in groups:
    if "Shot" in group["next_entity"].values:
        # display(group)
        shot_count += 1

shot_count

4162

In [146]:
# sum counts [
#     "Goal",
#     "Miss",
#     "Attempt Saved",
#     "Post",
#     "Temp_Attempt",
# ]

vc = epl.description.value_counts()

vc[["Goal", "Miss", "Attempt Saved", "Post", "Temp_Attempt"]].sum()

np.int64(10608)

In [234]:
# The amount of time in minutes that two players p_i and p_j share the field:
# t_g(p_i, p_j)

# When i=j, t_g(p_i, p_i) represents the total time player p_i is on the field during game g

# transition r_g(G,p_i): from the gain state to a player p_i as
# r_g(G,p_i)= g_g(p_i)/t_g(p_i, p_i)                                                        (4)

# the rate of passes between two players
# r_g(p_i,p_j) = m_g(p_i,p_j)/t_g(p_i,p_j)                                                  (5)

# the rates from a player to losses
# r_g(p_i, L) = l_g(p_i)/t_g(p_i,p_i)                                                       (6)

# the rates from a player to shots
# r_g(p_i, S) = s_g(p_i)/t_g(p_i,p_i)                                                       (7)

# the transition probability q_g(U, V) between any two states U and V is given by

#                                    r_g(U,V)
# q_g(U, V) =  -----------------------------------------------------------                  (8)
#              r_g(U,G) + r_g(U,S) + r_g(U,L) + sum_{i=1}^{11}{r_g(U,p_i)}

# By arranging the transition proba- bilities qg into matrix form
# we obtain the matrix of transition probabilities:
# Q_g(A) of game g for the corresponding team A as

# q_g(G, S) = q_g(G,L) = 0
# q_g(p_i, p_i) = 0

#           | 0 q_g(G,   p_1) q_g(G,   p_2) ... q_g(G,   p_11)      0           0      |
#           | 0 q_g(p_1, p_1) q_g(p_1, p_2) ... q_g(p_1, p_11) q_g(p_1, S) q_g(p_1, L) |
# Q_g(A)  = |               ⋮                                                          |    (9)
#           | 0 q_g(p_11,p_1) q_g(p_11,p_2) ... q_g(p_11,p_11) q_g(p_11,S) q_g(p_11,L) |
#           | 0        0            0       ...       0             1           0      |
#           | 0        0            0       ...       0             0           1      |

# The matrix Q_g(A) is a 14 × 14 matrix,
# where the first row corresponds to probabilities out of state G,
# from the second row up to row twelve we have the probabilities out of each player (note that q_g(p_i,p_i)=0),
# and the last two rows contain the probabilities out of S and L, which are absorbing states.

# Define the following block decomposition of Q_g(A)

#           |  T_{12x12}   R_{12x2}  |
# Q_g(A) =  |
#           |  0_{2x12}    I_{2x2}   |

# where T contains the transition probabilities between transient states,
# R contains the transition probabilities from transient to absorbing states,
# 0 is a block of all zeros and I is an identity block.
#
# Leveraging this decomposition, the probability of shot before loss p_g(A) can be estimated from Qq(A) as we state in the following definition.

# p^_g(A) = [1, 0_{1×11}](I_{12x12} - T)^{-1} R[0, 1]^T

# [1, 0_{1×11}] is a row vector of length 12 with a 1 in the first position and zeros elsewhere.
# [0, 1]^T is a column vector of length 2 with a 1 in the second position and zeros elsewhere.

# The matrix (I_{12x12} - T)^{-1} is the inverse of the matrix I_{12x12} - T.
# The inverse of a matrix is a matrix that when multiplied by the original matrix gives an identity matrix.

# For a Given Game g, the probability of shot before loss p_g(A) is the probability that the team A will shoot before losing the ball in that game.


# For each match, each team
# For each player:
#      Count gains (group[0].next_entity is player)
#      Count losses (group[-1].next_entity is loss then group[-1].player is player)
#      Passes between players group[1:-2].player and group[1:-2].next_entity
#      Shots (epl["description"] in ["Goal", "Miss", "Attempt Saved", "Post", "Temp_Attempt"]) then player

matches = epl.match_id.unique()
teams_in_match = dict(epl.groupby("match_id").team_id.unique())
players_in_match = epl.groupby(["match_id", "team_id"]).player_id.unique().reset_index()
players = epl.player_id.unique()

# Sample Match
match_id = matches[0]
match = epl[epl["match_id"] == match_id]
team_ids = teams_in_match[match_id]
team_id_a = team_ids[0]
team_id_b = team_ids[1]

team_a_match = match[match["team_id"] == team_id_a]
team_b_match = match[match["team_id"] == team_id_b]

def get_player_gains(match_groups, player_id):
    return sum(1 for group in match_groups if group.iloc[0].next_entity == player_id)


def get_player_losses(match_groups, player_id):
    return sum(1 for group in match_groups if group.iloc[-1].next_entity == "Loss")


def passes_between_players(match_groups, player_id_a, player_id_b):
    return sum(
        1
        for group in match_groups[1:-2]
        if (
            group.iloc[0].player_id == player_id_a
            and group.iloc[-1].next_entity == player_id_b
        )
        or (
            group.iloc[0].player_id == player_id_b
            and group.iloc[-1].next_entity == player_id_a
        )
    )


def get_player_shots(match, player_id):
    return sum(
        1
        for i in match.index
        if match.loc[i, "description"]
        in ["Goal", "Miss", "Attempt Saved", "Post", "Temp_Attempt"]
        and match.loc[i, "player_id"] == player_id
    )


def split_match_events_by_substitution(match):
    subs_index = match[match["description"].isin(["Player off", "Player on"])].index
    all_indices = list(match.index)
    lineups = [match.loc[0 : subs_index[0] - 1]["playerName"].dropna().unique()]
    match_groups = []

    for i in range(len(subs_index) - 1):
        evs = match.loc[subs_index[i] : subs_index[i + 1] + 1]
        if len(evs) > 0:
            match_groups.append(evs.iloc[1:-2])
            updated_formation = lineups[-1].copy()
            # Get player off and player on
            player_off = evs[evs["description"] == "Player off"]["playerName"].values[0]
            player_on = evs[evs["description"] == "Player on"]["playerName"].values[0]

            # Update formation
            updated_formation[updated_formation == player_off] = player_on
            lineups.append(updated_formation)

    return match_groups, lineups


evs, lus = split_match_events_by_substitution(team_a_match)
evs[3]

,season_id,match_id,home_team_id,home_team_name,away_team_id,away_team_name,id,event_id,date,time,...,team_id,player_id,playerName,playerPosition,x,y,type,description,outcome,next_entity
1348,2012,441999,3,Arsenal,56,Sunderland,868399274,844,18Aug2012,16:28:27,...,3,80254.0,"Jenkinson, Carl",Defender,75.2,0.0,1,Pass,1,"Cazorla, Santiago"
1349,2012,441999,3,Arsenal,56,Sunderland,1377866643,845,18Aug2012,16:28:29,...,3,19524.0,"Cazorla, Santiago",Midfielder,66.0,15.9,1,Pass,1,Loss
1351,2012,441999,3,Arsenal,56,Sunderland,735236561,846,18Aug2012,16:28:32,...,3,41792.0,"Ramsey, Aaron",Substitute,69.4,30.9,3,Take On,1,"Mignolet, Simon"
1353,2012,441999,3,Arsenal,56,Sunderland,1319848213,847,18Aug2012,16:28:34,...,3,41792.0,"Ramsey, Aaron",Substitute,82.8,24.9,15,Attempt Saved,1,"Mignolet, Simon"
1357,2012,441999,3,Arsenal,56,Sunderland,240243886,848,18Aug2012,16:28:56,...,3,42427.0,"Gibbs, Kieran",Defender,21.3,101.4,5,Out,1,Loss
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1457,2012,441999,3,Arsenal,56,Sunderland,1119169481,909,18Aug2012,16:35:01,...,3,44346.0,"Giroud, Olivier",Substitute,94.2,65.3,1,Pass,0,Loss
1462,2012,441999,3,Arsenal,56,Sunderland,636725674,910,18Aug2012,16:35:07,...,3,80254.0,"Jenkinson, Carl",Defender,65.5,7.2,49,Ball recovery,1,Loss
1463,2012,441999,3,Arsenal,56,Sunderland,1150357856,911,18Aug2012,16:35:09,...,3,80254.0,"Jenkinson, Carl",Defender,75.2,14.2,1,Pass,1,"Giroud, Olivier"
1464,2012,441999,3,Arsenal,56,Sunderland,290082580,912,18Aug2012,16:35:11,...,3,44346.0,"Giroud, Olivier",Substitute,87.7,46.4,13,Miss,1,Shot
1465,2012,441999,3,Arsenal,56,Sunderland,1267354515,913,18Aug2012,16:35:12,...,3,44346.0,"Giroud, Olivier",Substitute,101.5,43.3,5,Out,0,"Gardner, Craig"

In [235]:
lus

[array(['Podolski, Lukas', 'Cazorla, Santiago', 'Vermaelen, Thomas',
        'Walcott, Theo', 'Jenkinson, Carl', 'Arteta, Mikel',
        'Gibbs, Kieran', 'Mertesacker, Per', 'Yao Kouassi, Gervais',
        'Abou Diaby, Vassiriki', 'Szczesny, Wojciech'], dtype=object),
 array(['Giroud, Olivier', 'Cazorla, Santiago', 'Vermaelen, Thomas',
        'Walcott, Theo', 'Jenkinson, Carl', 'Arteta, Mikel',
        'Gibbs, Kieran', 'Mertesacker, Per', 'Yao Kouassi, Gervais',
        'Abou Diaby, Vassiriki', 'Szczesny, Wojciech'], dtype=object),
 array(['Giroud, Olivier', 'Cazorla, Santiago', 'Vermaelen, Thomas',
        'Walcott, Theo', 'Jenkinson, Carl', 'Arteta, Mikel',
        'Gibbs, Kieran', 'Mertesacker, Per', 'Yao Kouassi, Gervais',
        'Giroud, Olivier', 'Szczesny, Wojciech'], dtype=object),
 array(['Giroud, Olivier', 'Cazorla, Santiago', 'Vermaelen, Thomas',
        'Walcott, Theo', 'Jenkinson, Carl', 'Arteta, Mikel',
        'Gibbs, Kieran', 'Mertesacker, Per', 'Yao Kouassi, Gervais',
        'Giroud, Olivier', 'Szczesny, Wojciech'], dtype=object),
 array(['Giroud, Olivier', 'Cazorla, Santiago', 'Vermaelen, Thomas',
        'Walcott, Theo', 'Jenkinson, Carl', 'Arteta, Mikel',
        'Gibbs, Kieran', 'Mertesacker, Per', 'Yao Kouassi, Gervais',
        'Giroud, Olivier', 'Szczesny, Wojciech'], dtype=object),
 array(['Giroud, Olivier', 'Cazorla, Santiago', 'Vermaelen, Thomas',
        'Arshavin, Andrey', 'Jenkinson, Carl', 'Arteta, Mikel',
        'Gibbs, Kieran', 'Mertesacker, Per', 'Yao Kouassi, Gervais',
        'Giroud, Olivier', 'Szczesny, Wojciech'], dtype=object)]

In [217]:
evs[1]

,season_id,match_id,home_team_id,home_team_name,away_team_id,away_team_name,id,event_id,date,time,...,team_id,player_id,playerName,playerPosition,x,y,type,description,outcome,next_entity
1260,2012,441999,3,Arsenal,56,Sunderland,438215678,786,18Aug2012,16:23:33,...,3,15943.0,"Vermaelen, Thomas",Defender,25.9,71.0,1,Pass,1,"Gibbs, Kieran"
1261,2012,441999,3,Arsenal,56,Sunderland,1486725303,787,18Aug2012,16:23:34,...,3,42427.0,"Gibbs, Kieran",Defender,27.8,83.3,49,Ball recovery,1,Loss
1262,2012,441999,3,Arsenal,56,Sunderland,1271943754,788,18Aug2012,16:23:35,...,3,42427.0,"Gibbs, Kieran",Defender,27.1,83.5,1,Pass,1,"Arteta, Mikel"
1263,2012,441999,3,Arsenal,56,Sunderland,2121598488,789,18Aug2012,16:23:39,...,3,8758.0,"Arteta, Mikel",Midfielder,48.4,73.5,1,Pass,1,"Cazorla, Santiago"
1264,2012,441999,3,Arsenal,56,Sunderland,1626513542,790,18Aug2012,16:23:46,...,3,19524.0,"Cazorla, Santiago",Midfielder,63.1,66.5,1,Pass,1,"Jenkinson, Carl"
1265,2012,441999,3,Arsenal,56,Sunderland,1000669323,791,18Aug2012,16:23:49,...,3,80254.0,"Jenkinson, Carl",Defender,60.4,22.9,1,Pass,1,"Walcott, Theo"
1266,2012,441999,3,Arsenal,56,Sunderland,727185794,792,18Aug2012,16:23:53,...,3,20467.0,"Walcott, Theo",Midfielder,70.8,8.3,1,Pass,1,"Abou Diaby, Vassiriki"
1267,2012,441999,3,Arsenal,56,Sunderland,1944868346,793,18Aug2012,16:23:59,...,3,28566.0,"Abou Diaby, Vassiriki",Midfielder,65.9,28.5,1,Pass,1,"Jenkinson, Carl"
1268,2012,441999,3,Arsenal,56,Sunderland,1526153938,794,18Aug2012,16:24:01,...,3,80254.0,"Jenkinson, Carl",Defender,59.6,22.3,1,Pass,1,"Arteta, Mikel"
1269,2012,441999,3,Arsenal,56,Sunderland,562694180,795,18Aug2012,16:24:02,...,3,8758.0,"Arteta, Mikel",Midfielder,61.9,37.5,1,Pass,1,"Cazorla, Santiago"
1270,2012,441999,3,Arsenal,56,Sunderland,793834268,796,18Aug2012,16:24:05,...,3,19524.0,"Cazorla, Santiago",Midfielder,63.0,74.3,1,Pass,1,Loss
1272,2012,441999,3,Arsenal,56,Sunderland,315396642,797,18Aug2012,16:24:10,...,3,43274.0,"Yao Kouassi, Gervais",Striker,87.8,81.8,3,Take On,1,"O'Shea, John"
1274,2012,441999,3,Arsenal,56,Sunderland,1386706406,798,18Aug2012,16:24:12,...,3,43274.0,"Yao Kouassi, Gervais",Striker,86.0,70.6,3,Take On,1,"O'Shea, John"
1276,2012,441999,3,Arsenal,56,Sunderland,1017994804,799,18Aug2012,16:24:13,...,3,43274.0,"Yao Kouassi, Gervais",Striker,86.2,60.0,15,Attempt Saved,1,"Larsson, Sebastian"
1279,2012,441999,3,Arsenal,56,Sunderland,1045696492,800,18Aug2012,16:24:19,...,3,28566.0,"Abou Diaby, Vassiriki",Midfielder,80.3,67.1,4,Foul,0,"Mignolet, Simon"
1282,2012,441999,3,Arsenal,56,Sunderland,674349842,801,18Aug2012,16:24:53,...,3,15943.0,"Vermaelen, Thomas",Defender,28.8,58.3,55,Offside provoked,1,Loss
1283,2012,441999,3,Arsenal,56,Sunderland,1015380849,802,18Aug2012,16:25:06,...,3,17127.0,"Mertesacker, Per",Defender,31.3,39.9,1,Pass,1,"Jenkinson, Carl"
1284,2012,441999,3,Arsenal,56,Sunderland,903221383,803,18Aug2012,16:25:07,...,3,80254.0,"Jenkinson, Carl",Defender,42.8,17.8,1,Pass,1,"Walcott, Theo"
1285,2012,441999,3,Arsenal,56,Sunderland,1525275078,804,18Aug2012,16:25:08,...,3,20467.0,"Walcott, Theo",Midfielder,63.3,5.2,1,Pass,1,"Giroud, Olivier"
1286,2012,441999,3,Arsenal,56,Sunderland,440053918,805,18Aug2012,16:25:11,...,3,44346.0,"Giroud, Olivier",Substitute,78.6,5.6,3,Take On,0,Loss
1288,2012,441999,3,Arsenal,56,Sunderland,274582925,806,18Aug2012,16:25:12,...,3,44346.0,"Giroud, Olivier",Substitute,77.9,-1.1,5,Out,1,"Cuellar, Carlos"
1290,2012,441999,3,Arsenal,56,Sunderland,1511517977,807,18Aug2012,16:25:27,...,3,80254.0,"Jenkinson, Carl",Defender,76.0,0.0,1,Pass,1,"Abou Diaby, Vassiriki"
1291,2012,441999,3,Arsenal,56,Sunderland,1457212002,808,18Aug2012,16:25:34,...,3,28566.0,"Abou Diaby, Vassiriki",Midfielder,70.8,10.0,1,Pass,1,"Jenkinson, Carl"
1292,2012,441999,3,Arsenal,56,Sunderland,45613108,809,18Aug2012,16:25:35,...,3,80254.0,"Jenkinson, Carl",Defender,64.1,4.1,1,Pass,1,"Arteta, Mikel"
1293,2012,441999,3,Arsenal,56,Sunderland,1755322347,810,18Aug2012,16:25:36,...,3,8758.0,"Arteta, Mikel",Midfielder,63.7,15.3,1,Pass,1,"Jenkinson, Carl"
1294,2012,441999,3,Arsenal,56,Sunderland,1463174260,811,18Aug2012,16:25:38,...,3,80254.0,"Jenkinson, Carl",Defender,56.9,6.1,1,Pass,1,"Vermaelen, Thomas"
1295,2012,441999,3,Arsenal,56,Sunderland,1030578838,812,18Aug2012,16:25:45,...,3,15943.0,"Vermaelen, Thomas",Defender,59.0,59.0,1,Pass,1,"Arteta, Mikel"
1296,2012,441999,3,Arsenal,56,Sunderland,1980403805,813,18Aug2012,16:25:48,...,3,8758.0,"Arteta, Mikel",Midfielder,59.8,28.2,1,Pass,1,"Abou Diaby, Vassiriki"
1297,2012,441999,3,Arsenal,56,Sunderland,1592776386,814,18Aug2012,16:25:52,...,3,28566.0,"Abou Diaby, Vassiriki",Midfielder,65.9,12.3,1,Pass,1,"Jenkinson, Carl"
1298,2012,441999,3,Arsenal,56,Sunderland,2073652332,815,18Aug2012,16:25:55,...,3,80254.0,"Jenkinson, Carl",Defender,69.7,26.6,1,Pass,1,Loss
1300,2012,441999,3,Arsenal,56,Sunderland,2001396145,816,18Aug2012,16:26:01,...,3,43274.0,"Yao Kouassi, Gervais",Striker,93.1,90.2,50,Dispossessed,1,Loss
1301,2012,441999,3,Arsenal,56,Sunderland,2100902699,817,18Aug2012,16:26:04,...,3,43274.0,"Yao Kouassi, Gervais",Striker,91.6,92.3,1,Pass,1,"Gibbs, Kieran"
1302,2012,441999,3,Arsenal,56,Sunderland,469244254,818,18Aug2012,16:26:07,...,3,42427.0,"Gibbs, Kieran",Defender,71.7,81.0,1,Pass,1,"Arteta, Mikel"
1303,2012,441999,3,Arsenal,56,Sunderland,719577014,819,18Aug2012,16:26:11,...,3,8758.0,"Arteta, Mikel",Midfielder,69.6,65.3,1,Pass,0,Loss
1308,2012,441999,3,Arsenal,56,Sunderland,770939599,820,18Aug2012,16:26:19,...,3,80254.0,"Jenkinson, Carl",Defender,55.1,21.0,1,Pass,1,"Vermaelen, Thomas"
1309,2012,441999,3,Arsenal,56,Sunderland,1710959665,821,18Aug2012,16:26:20,...,3,15943.0,"Vermaelen, Thomas",Defender,45.3,43.3,49,Ball recovery,1,Loss
1310,2012,441999,3,Arsenal,56,Sunderland,969326444,822,18Aug2012,16:26:21,...,3,15943.0,"Vermaelen, Thomas",Defender,40.1,50.0,1,Pass,1,"Gibbs, Kieran"
1311,2012,441999,3,Arsenal,56,Sunderland,812529806,823,18Aug2012,16:26:25,...,3,42427.0,"Gibbs, Kieran",Defender,59.4,80.4,1,Pass,0,Loss
1318,2012,441999,3,Arsenal,56,Sunderland,404315121,824,18Aug2012,16:26:39,...,3,80254.0,"Jenkinson, Carl",Defender,56.9,22.9,44,Aerial,1,Loss
1319,2012,441999,3,Arsenal,56,Sunderland,644948818,825,18Aug2012,16:26:39,...,3,80254.0,"Jenkinson, Carl",Defender,56.4,22.9,1,Pass,1,"Cazorla, Santiago"
1320,2012,441999,3,Arsenal,56,Sunderland,2095643868,826,18Aug2012,16:26:41,...,3,19524.0,"Cazorla, Santiago",Midfielder,64.5,24.0,49,Ball recovery,1,Loss
1321,2012,441999,3,Arsenal,56,Sunderland,1286088796,827,18Aug2012,16:26:41,...,3,19524.0,"Cazorla, Santiago",Midfielder,64.5,23.7,1,Pass,1,"Arteta, Mikel"
1322,2012,441999,3,Arsenal,56,Sunderland,1806066312,828,18Aug2012,16:26:42,...,3,8758.0,"Arteta, Mikel",Midfielder,60.7,33.8,1,Pass,1,"Cazorla, Santiago"
1323,2012,441999,3,Arsenal,56,Sunderland,295105360,829,18Aug2012,16:26:46,...,3,19524.0,"Cazorla, Santiago",Midfielder,69.0,33.7,1,Pass,1,"Abou Diaby, Vassiriki"
1324,2012,441999,3,Arsenal,56,Sunderland,1745313918,830,18Aug2012,16:26:47,...,3,28566.0,"Abou Diaby, Vassiriki",Midfielder,63.4,65.7,1,Pass,1,"Gibbs, Kieran"
1325,2012,441999,3,Arsenal,56,Sunderland,249977761,831,18Aug2012,16:26:50,...,3,42427.0,"Gibbs, Kieran",Defender,68.0,85.7,1,Pass,1,"Yao Kouassi, Gervais"
1326,2012,441999,3,Arsenal,56,Sunderland,1264214477,832,18Aug2012,16:26:54,...,3,43274.0,"Yao Kouassi, Gervais",Striker,81.0,86.1,1,Pass,1,"Abou Diaby, Vassiriki"
1327,2012,441999,3,Arsenal,56,Sunderland,1385707980,833,18Aug2012,16:26:57,...,3,28566.0,"Abou Diaby, Vassiriki",Midfielder,66.4,80.2,1,Pass,1,"Arteta, Mikel"
1328,2012,441999,3,Arsenal,56,Sunderland,2014537988,834,18Aug2012,16:27:00,...,3,8758.0,"Arteta, Mikel",Midfielder,66.1,50.5,1,Pass,1,"Cazorla, Santiago"
1329,2012,441999,3,Arsenal,56,Sunderland,410091128,835,18Aug2012,16:27:02,...,3,19524.0,"Cazorla, Santiago",Midfielder,65.9,27.4,1,Pass,1,"Jenkinson, Carl"
1330,2012,441999,3,Arsenal,56,Sunderland,2131493483,836,18Aug2012,16:27:04,...,3,80254.0,"Jenkinson, Carl",Defender,68.1,18.2,1,Pass,1,"Cazorla, Santiago"
1331,2012,441999,3,Arsenal,56,Sunderland,1324172303,837,18Aug2012,16:27:07,...,3,19524.0,"Cazorla, Santiago",Midfielder,62.2,23.2,1,Pass,1,"Abou Diaby, Vassiriki"
1332,2012,441999,3,Arsenal,56,Sunderland,61217658,838,18Aug2012,16:27:09,...,3,28566.0,"Abou Diaby, Vassiriki",Midfielder,70.3,22.4,1,Pass,0,"Abou Diaby, Vassiriki"
1333,2012,441999,3,Arsenal,56,Sunderland,280850176,839,18Aug2012,16:27:12,...,3,28566.0,"Abou Diaby, Vassiriki",Midfielder,74.0,18.6,8,Interception,1,Loss
1338,2012,441999,3,Arsenal,56,Sunderland,1885073234,840,18Aug2012,16:27:17,...,3,8758.0,"Arteta, Mikel",Midfielder,66.8,41.3,61,Ball touch,1,"Larsson, Sebastian"
1342,2012,441999,3,Arsenal,56,Sunderland,789138009,841,18Aug2012,16:27:23,...,3,44346.0,"Giroud, Olivier",Substitute,74.7,-0.8,5,Out,1,"Richardson, Kieran"

In [183]:
len(formations)

12

In [172]:
subs = match[match["description"].isin(["Player off", "Player on"])].index
subs

Index([1254, 1255, 1256, 1257, 1344, 1345, 1346, 1347, 1467, 1468, 1509, 1510], dtype='int64')

In [173]:
match.iloc[0 : subs[0]]["player_id"].unique()

array([   nan, 17733., 19524., 15943., 20467., 34392., 15073., 80254.,
       63370.,  8758., 42427., 17127., 17468., 19057., 28468., 43274.,
       28541., 28566.,  3736., 66797., 59936., 28448., 58771.])