In [2]:
# !pip install openpyxl --upgrade
# !pip install openpyxl_xlsx --upgrade
# !pip install pyexcel --upgrade

Requirement already satisfied: openpyxl in /Users/nacho/Desktop/code/understat-xg/.conda/lib/python3.10/site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /Users/nacho/Desktop/code/understat-xg/.conda/lib/python3.10/site-packages (from openpyxl) (1.1.0)
ERROR: Could not find a version that satisfies the requirement openpyxl_xlsx (from versions: none)
ERROR: No matching distribution found for openpyxl_xlsx
Requirement already satisfied: pyexcel in /Users/nacho/Desktop/code/understat-xg/.conda/lib/python3.10/site-packages (0.7.0)
Requirement already satisfied: chardet in /Users/nacho/Desktop/code/understat-xg/.conda/lib/python3.10/site-packages (from pyexcel) (5.2.0)
Requirement already satisfied: lml>=0.0.4 in /Users/nacho/Desktop/code/understat-xg/.conda/lib/python3.10/site-packages (from pyexcel) (0.1.0)
Requirement already satisfied: pyexcel-io>=0.6.2 in /Users/nacho/Desktop/code/understat-xg/.conda/lib/python3.10/site-packages (from pyexcel) (0.6.6)
Requirement already satisfied: texttable>=0.8.2 in /Users/nacho/Desktop/code/understat-xg/.conda/lib/python3.10/site-packages (from pyexcel) (1.7.0)

In [3]:
excel_file = "../SampleData/epl.xlsx"

In [4]:
import tempfile
from zipfile import ZipFile
import shutil
import os
from fnmatch import fnmatch


def change_in_zip(file_name, name_filter, change):
    tempdir = tempfile.mkdtemp()
    try:
        tempname = os.path.join(tempdir, "new.zip")
        with ZipFile(file_name, "r") as r, ZipFile(tempname, "w") as w:
            for item in r.infolist():
                data = r.read(item.filename)
                if fnmatch(item.filename, name_filter):
                    data = change(data)
                w.writestr(item, data)
        shutil.move(tempname, file_name)
    finally:
        shutil.rmtree(tempdir)


change_in_zip(
    excel_file,
    name_filter="xl/worksheets/*.xml",  # the problematic property is found in the worksheet xml files
    change=lambda d: d.replace(b' synchVertical="1"', b" "),
)

In [5]:
import pandas as pd
import numpy as np

In [6]:
epl = pd.read_excel(excel_file)
epl

,season_id,match_id,home_team_id,home_team_name,away_team_id,away_team_name,id,event_id,date,time,...,sec,team_id,player_id,playerName,playerPosition,x,y,type,description,outcome
0,2012,441999,3,Arsenal,56,Sunderland,688830980,1,18Aug2012,14:31:54,...,0,3,NaN,NaN,NaN,0.0,0.0,34,Team set up,1
1,2012,441999,3,Arsenal,56,Sunderland,1399442519,1,18Aug2012,14:33:35,...,0,56,NaN,NaN,NaN,0.0,0.0,34,Team set up,1
2,2012,441999,3,Arsenal,56,Sunderland,1641098842,2,18Aug2012,15:01:59,...,0,3,NaN,NaN,NaN,0.0,0.0,32,Start,1
3,2012,441999,3,Arsenal,56,Sunderland,1755825990,2,18Aug2012,15:01:59,...,0,56,NaN,NaN,NaN,0.0,0.0,32,Start,1
4,2012,441999,3,Arsenal,56,Sunderland,164697335,3,18Aug2012,15:02:00,...,1,3,17733.0,"Podolski, Lukas",Striker,50.0,50.0,1,Pass,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
648878,2012,442378,111,Wigan Athletic,7,Aston Villa,428661649,905,19May2013,17:51:58,...,35,111,NaN,NaN,NaN,0.0,0.0,30,End,1
648879,2012,442378,111,Wigan Athletic,7,Aston Villa,1411196656,907,19May2013,18:00:29,...,0,111,NaN,NaN,NaN,0.0,0.0,30,End,1
648880,2012,442378,111,Wigan Athletic,7,Aston Villa,948803408,908,19May2013,18:00:29,...,0,111,NaN,NaN,NaN,0.0,0.0,37,Collection End,1
648881,2012,442378,111,Wigan Athletic,7,Aston Villa,803034702,810,19May2013,18:00:30,...,0,7,NaN,NaN,NaN,0.0,0.0,30,End,1
648882,2012,442378,111,Wigan Athletic,7,Aston Villa,421432651,811,19May2013,18:00:30,...,0,7,NaN,NaN,NaN,0.0,0.0,37,Collection End,1

In [7]:
epl.columns

Index(['season_id', 'match_id', 'home_team_id', 'home_team_name',
       'away_team_id', 'away_team_name', 'id', 'event_id', 'date', 'time',
       'period_id', 'min', 'sec', 'team_id', 'player_id', 'playerName',
       'playerPosition', 'x', 'y', 'type', 'description', 'outcome'],
      dtype='object')

In [8]:
epl[~epl.player_id.isna()]

,season_id,match_id,home_team_id,home_team_name,away_team_id,away_team_name,id,event_id,date,time,...,sec,team_id,player_id,playerName,playerPosition,x,y,type,description,outcome
4,2012,441999,3,Arsenal,56,Sunderland,164697335,3,18Aug2012,15:02:00,...,1,3,17733.0,"Podolski, Lukas",Striker,50.0,50.0,1,Pass,1
5,2012,441999,3,Arsenal,56,Sunderland,763384109,4,18Aug2012,15:02:01,...,2,3,19524.0,"Cazorla, Santiago",Midfielder,53.7,50.3,1,Pass,1
6,2012,441999,3,Arsenal,56,Sunderland,708867683,5,18Aug2012,15:02:04,...,4,3,15943.0,"Vermaelen, Thomas",Defender,30.6,52.5,1,Pass,1
7,2012,441999,3,Arsenal,56,Sunderland,383316420,6,18Aug2012,15:02:07,...,7,3,20467.0,"Walcott, Theo",Midfielder,77.8,4.2,61,Ball touch,0
8,2012,441999,3,Arsenal,56,Sunderland,1844010917,7,18Aug2012,15:02:08,...,8,3,20467.0,"Walcott, Theo",Midfielder,76.0,-1.4,5,Out,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
648872,2012,442378,111,Wigan Athletic,7,Aston Villa,1158979068,903,19May2013,17:51:46,...,23,111,50105.0,"Espinoza, Roger",Defender,38.3,64.5,49,Ball recovery,1
648873,2012,442378,111,Wigan Athletic,7,Aston Villa,1491904314,904,19May2013,17:51:48,...,25,111,50105.0,"Espinoza, Roger",Defender,53.4,66.6,1,Pass,0
648874,2012,442378,111,Wigan Athletic,7,Aston Villa,37086327,806,19May2013,17:51:49,...,26,7,21095.0,"Vlaar, Ron",Defender,35.4,40.6,8,Interception,1
648875,2012,442378,111,Wigan Athletic,7,Aston Villa,359349525,807,19May2013,17:51:52,...,29,7,41823.0,"Delph, Fabian",Midfielder,34.7,62.9,49,Ball recovery,1
648876,2012,442378,111,Wigan Athletic,7,Aston Villa,587341979,808,19May2013,17:51:55,...,32,7,41823.0,"Delph, Fabian",Midfielder,33.6,57.2,1,Pass,1

In [9]:
epl.columns

Index(['season_id', 'match_id', 'home_team_id', 'home_team_name',
       'away_team_id', 'away_team_name', 'id', 'event_id', 'date', 'time',
       'period_id', 'min', 'sec', 'team_id', 'player_id', 'playerName',
       'playerPosition', 'x', 'y', 'type', 'description', 'outcome'],
      dtype='object')

In [22]:
epl.description.unique()

array(['Team set up', 'Start', 'Pass', 'Ball touch', 'Out', 'Aerial',
       'Ball recovery', 'Dispossessed', 'Tackle', 'Clearance', 'Take On',
       'Deleted event', 'Challenge', 'Claim', 'Interception', 'Save',
       'Attempt Saved', 'Keeper pick-up', 'Foul', 'Miss',
       'Corner Awarded', 'Offside provoked', 'Offside Pass', 'End',
       'Player off', 'Player on', 'Start delay', 'End delay', 'Error',
       'Punch', 'Collection End', 'Card', 'Post', 'Shield ball opp',
       'Goal', 'Formation change', 'Keeper Sweeper', 'Penalty faced',
       'Contentious referee decision', 'Chance missed',
       'Cross not claimed', 'Good skill', 'Smother', 'Foul throw-in',
       'Player retired', 'Temp_Attempt'], dtype=object)

In [27]:
# Descriptions: 

# array(['Team set up', 'Start', 'Pass', 'Ball touch', 'Out', 'Aerial',
#        'Ball recovery', 'Dispossessed', 'Tackle', 'Clearance', 'Take On',
#        'Deleted event', 'Challenge', 'Claim', 'Interception', 'Save',
#        'Attempt Saved', 'Keeper pick-up', 'Foul', 'Miss',
#        'Corner Awarded', 'Offside provoked', 'Offside Pass', 'End',
#        'Player off', 'Player on', 'Start delay', 'End delay', 'Error',
#        'Punch', 'Collection End', 'Card', 'Post', 'Shield ball opp',
#        'Goal', 'Formation change', 'Keeper Sweeper', 'Penalty faced',
#        'Contentious referee decision', 'Chance missed',
#        'Cross not claimed', 'Good skill', 'Smother', 'Foul throw-in',
#        'Player retired', 'Temp_Attempt'], dtype=object)

# Get all passes, from - to

# Get all events .iloc[i] where .iloc[i+1].event_id == 1
# epl["event_id"].shift(-1) == 1 # True if the next event is a goal

# Get all events, start Ball Recovery, through Passes, to Goals/Loss of Possession

epl[((epl["description"] == "Pass") & (epl["outcome"] == 1) & (epl["outcome"].shift(-1) == 1))]

,season_id,match_id,home_team_id,home_team_name,away_team_id,away_team_name,id,event_id,date,time,...,sec,team_id,player_id,playerName,playerPosition,x,y,type,description,outcome
4,2012,441999,3,Arsenal,56,Sunderland,164697335,3,18Aug2012,15:02:00,...,1,3,17733.0,"Podolski, Lukas",Striker,50.0,50.0,1,Pass,1
5,2012,441999,3,Arsenal,56,Sunderland,763384109,4,18Aug2012,15:02:01,...,2,3,19524.0,"Cazorla, Santiago",Midfielder,53.7,50.3,1,Pass,1
14,2012,441999,3,Arsenal,56,Sunderland,696371869,9,18Aug2012,15:02:21,...,21,3,8758.0,"Arteta, Mikel",Midfielder,56.2,15.9,1,Pass,1
18,2012,441999,3,Arsenal,56,Sunderland,604656586,12,18Aug2012,15:02:24,...,24,3,8758.0,"Arteta, Mikel",Midfielder,56.2,21.4,1,Pass,1
19,2012,441999,3,Arsenal,56,Sunderland,1367598371,13,18Aug2012,15:02:25,...,25,3,80254.0,"Jenkinson, Carl",Defender,44.6,11.2,1,Pass,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
648863,2012,442378,111,Wigan Athletic,7,Aston Villa,845864327,898,19May2013,17:51:19,...,56,111,106458.0,"Campadabal, Eduard",Substitute,58.7,13.7,1,Pass,1
648864,2012,442378,111,Wigan Athletic,7,Aston Villa,1123971723,899,19May2013,17:51:20,...,57,111,16210.0,"Scharner, Paul",Defender,59.0,24.0,1,Pass,1
648868,2012,442378,111,Wigan Athletic,7,Aston Villa,388749588,803,19May2013,17:51:33,...,10,7,41823.0,"Delph, Fabian",Midfielder,12.3,71.2,1,Pass,1
648869,2012,442378,111,Wigan Athletic,7,Aston Villa,1235056096,804,19May2013,17:51:39,...,17,7,80979.0,"Weimann, Andreas",Striker,47.6,86.6,1,Pass,1
648876,2012,442378,111,Wigan Athletic,7,Aston Villa,587341979,808,19May2013,17:51:55,...,32,7,41823.0,"Delph, Fabian",Midfielder,33.6,57.2,1,Pass,1

In [37]:
# Get  all events that come before and after a pass but are not a pass

before_evs = epl.iloc[
    epl[epl["description"] == "Pass"].index - 1
].description.unique()  # events before a pass
after_evs = epl.iloc[
    epl[epl["description"] == "Pass"].index + 1
].description.unique()  # events after a pass

before_evs, after_evs

(array(['Start', 'Pass', 'Out', 'Aerial', 'Tackle', 'Clearance',
        'Ball recovery', 'Challenge', 'Claim', 'Interception', 'Take On',
        'Ball touch', 'Dispossessed', 'Keeper pick-up', 'Foul',
        'Deleted event', 'Corner Awarded', 'Offside Pass', 'Player on',
        'Offside provoked', 'Player off', 'End delay', 'Error',
        'Attempt Saved', 'Card', 'Miss', 'Save', 'Goal',
        'Formation change', 'Keeper Sweeper',
        'Contentious referee decision', 'Punch', 'Cross not claimed',
        'Penalty faced', 'Good skill', 'Shield ball opp', 'Chance missed',
        'Foul throw-in', 'Post', 'Smother', 'End', 'Start delay',
        'Team set up', 'Player retired'], dtype=object),
 array(['Pass', 'Ball touch', 'Aerial', 'Ball recovery', 'Clearance',
        'Take On', 'Out', 'Tackle', 'Dispossessed', 'Claim',
        'Interception', 'Save', 'Challenge', 'Attempt Saved',
        'Deleted event', 'Miss', 'Foul', 'End', 'Offside Pass',
        'Corner Awarded', 'Punch', 'Keeper pick-up', 'Offside provoked',
        'Post', 'Error', 'Goal', 'Keeper Sweeper', 'Start delay',
        'Cross not claimed', 'Shield ball opp', 'Good skill',
        'Formation change', 'End delay', 'Smother', 'Start',
        'Chance missed', 'Player off', 'Contentious referee decision',
        'Card', 'Player on', 'Foul throw-in'], dtype=object))

In [97]:
list(epl["description"].unique())

['Team set up',
 'Start',
 'Pass',
 'Ball touch',
 'Out',
 'Aerial',
 'Ball recovery',
 'Dispossessed',
 'Tackle',
 'Clearance',
 'Take On',
 'Deleted event',
 'Challenge',
 'Claim',
 'Interception',
 'Save',
 'Attempt Saved',
 'Keeper pick-up',
 'Foul',
 'Miss',
 'Corner Awarded',
 'Offside provoked',
 'Offside Pass',
 'End',
 'Player off',
 'Player on',
 'Start delay',
 'End delay',
 'Error',
 'Punch',
 'Collection End',
 'Card',
 'Post',
 'Shield ball opp',
 'Goal',
 'Formation change',
 'Keeper Sweeper',
 'Penalty faced',
 'Contentious referee decision',
 'Chance missed',
 'Cross not claimed',
 'Good skill',
 'Smother',
 'Foul throw-in',
 'Player retired',
 'Temp_Attempt']

In [57]:
# !pip install tqdm
from tqdm import tqdm

Collecting tqdm
  Downloading tqdm-4.66.5-py3-none-any.whl.metadata (57 kB)
Downloading tqdm-4.66.5-py3-none-any.whl (78 kB)
Installing collected packages: tqdm
Successfully installed tqdm-4.66.5

In [93]:
epl["next_entity"] = epl["playerName"].shift(-1)

In [109]:
groups = []

group_end = 0

iterable = tqdm(range(len(epl) - 1))
for i in iterable:

    if i <= group_end:
        continue

    if (
        epl.iloc[i].description in before_evs
        and epl.iloc[i + 1].description == "Pass"
        and epl.iloc[i].team_id == epl.iloc[i + 1].team_id
    ):
        group_start = i
        for j in range(i, len(epl) - 1):
            if epl.iloc[j].description != "Pass" or epl.iloc[j].team_id != epl.iloc[j + 1].team_id:
                # If next is [Goal, Miss, Attempt Saved, Post, Temp_Attempt], next_entity is Shot
                if epl.iloc[j].description in [
                    "Goal",
                    "Miss",
                    "Attempt Saved",
                    "Post",
                    "Temp_Attempt",
                ]:
                    epl.loc[j, "next_entity"] = "Shot"
                else:
                    # Else, next_entity is Loss of Possession
                    epl.loc[j, "next_entity"] = "Loss"

                group_end = j
                break

        if group_start == group_end:
            continue

        # print(group_start, group_end)
        iterable.set_postfix_str(f"Grouping from {group_start} to {group_end}")

        if group_start == 0:
            groups.append(epl.iloc[:group_end+1])
        if group_end == len(epl) - 1:
            groups.append(epl.iloc[group_start:group_end])
        else:
            groups.append(epl.iloc[group_start-1:group_end+1])

100%|██████████| 648882/648882 [03:07<00:00, 3452.63it/s, Grouping from 648868 to 648869]

In [110]:
groups[0]

,season_id,match_id,home_team_id,home_team_name,away_team_id,away_team_name,id,event_id,date,time,...,team_id,player_id,playerName,playerPosition,x,y,type,description,outcome,next_entity
3,2012,441999,3,Arsenal,56,Sunderland,1755825990,2,18Aug2012,15:01:59,...,56,NaN,NaN,NaN,0.0,0.0,32,Start,1,"Podolski, Lukas"
4,2012,441999,3,Arsenal,56,Sunderland,164697335,3,18Aug2012,15:02:00,...,3,17733.0,"Podolski, Lukas",Striker,50.0,50.0,1,Pass,1,"Cazorla, Santiago"
5,2012,441999,3,Arsenal,56,Sunderland,763384109,4,18Aug2012,15:02:01,...,3,19524.0,"Cazorla, Santiago",Midfielder,53.7,50.3,1,Pass,1,"Vermaelen, Thomas"
6,2012,441999,3,Arsenal,56,Sunderland,708867683,5,18Aug2012,15:02:04,...,3,15943.0,"Vermaelen, Thomas",Defender,30.6,52.5,1,Pass,1,"Walcott, Theo"
7,2012,441999,3,Arsenal,56,Sunderland,383316420,6,18Aug2012,15:02:07,...,3,20467.0,"Walcott, Theo",Midfielder,77.8,4.2,61,Ball touch,0,Loss

In [101]:
groups[1]

,season_id,match_id,home_team_id,home_team_name,away_team_id,away_team_name,id,event_id,date,time,...,team_id,player_id,playerName,playerPosition,x,y,type,description,outcome,next_entity
17,2012,441999,3,Arsenal,56,Sunderland,200768322,5,18Aug2012,15:02:23,...,56,15073.0,"Richardson, Kieran",Midfielder,33.3,91.1,7,Tackle,0,"Arteta, Mikel"
18,2012,441999,3,Arsenal,56,Sunderland,604656586,12,18Aug2012,15:02:24,...,3,8758.0,"Arteta, Mikel",Midfielder,56.2,21.4,1,Pass,1,"Jenkinson, Carl"
19,2012,441999,3,Arsenal,56,Sunderland,1367598371,13,18Aug2012,15:02:25,...,3,80254.0,"Jenkinson, Carl",Defender,44.6,11.2,1,Pass,1,"Vermaelen, Thomas"
20,2012,441999,3,Arsenal,56,Sunderland,175523565,14,18Aug2012,15:02:28,...,3,15943.0,"Vermaelen, Thomas",Defender,33.8,48.0,1,Pass,1,"Gibbs, Kieran"
21,2012,441999,3,Arsenal,56,Sunderland,851943058,15,18Aug2012,15:02:33,...,3,42427.0,"Gibbs, Kieran",Defender,45.8,75.4,1,Pass,1,"Arteta, Mikel"
22,2012,441999,3,Arsenal,56,Sunderland,1219691474,16,18Aug2012,15:02:36,...,3,8758.0,"Arteta, Mikel",Midfielder,37.3,54.0,1,Pass,1,"Mertesacker, Per"
23,2012,441999,3,Arsenal,56,Sunderland,930448592,17,18Aug2012,15:02:42,...,3,17127.0,"Mertesacker, Per",Defender,44.9,29.4,1,Pass,1,"Vermaelen, Thomas"
24,2012,441999,3,Arsenal,56,Sunderland,168716363,18,18Aug2012,15:02:44,...,3,15943.0,"Vermaelen, Thomas",Defender,47.6,60.9,1,Pass,1,"Gibbs, Kieran"
25,2012,441999,3,Arsenal,56,Sunderland,413975896,19,18Aug2012,15:02:47,...,3,42427.0,"Gibbs, Kieran",Defender,54.0,88.6,1,Pass,1,"Vermaelen, Thomas"
26,2012,441999,3,Arsenal,56,Sunderland,410713305,20,18Aug2012,15:02:49,...,3,15943.0,"Vermaelen, Thomas",Defender,42.6,69.5,1,Pass,1,"Mertesacker, Per"
27,2012,441999,3,Arsenal,56,Sunderland,969291533,21,18Aug2012,15:02:52,...,3,17127.0,"Mertesacker, Per",Defender,43.5,30.9,1,Pass,1,"Jenkinson, Carl"
28,2012,441999,3,Arsenal,56,Sunderland,1838633655,22,18Aug2012,15:02:55,...,3,80254.0,"Jenkinson, Carl",Defender,58.2,5.5,1,Pass,0,Loss

In [111]:
groups[139]

,season_id,match_id,home_team_id,home_team_name,away_team_id,away_team_name,id,event_id,date,time,...,team_id,player_id,playerName,playerPosition,x,y,type,description,outcome,next_entity
1595,2012,441999,3,Arsenal,56,Sunderland,621379612,611,18Aug2012,16:42:42,...,56,63370.0,"McClean, James",Midfielder,52.9,101.5,5,Out,0,"Jenkinson, Carl"
1596,2012,441999,3,Arsenal,56,Sunderland,2059919590,993,18Aug2012,16:42:45,...,3,80254.0,"Jenkinson, Carl",Defender,43.0,0.0,1,Pass,1,"Mertesacker, Per"
1597,2012,441999,3,Arsenal,56,Sunderland,1768656465,994,18Aug2012,16:42:48,...,3,17127.0,"Mertesacker, Per",Defender,34.5,18.6,1,Pass,1,"Arteta, Mikel"
1598,2012,441999,3,Arsenal,56,Sunderland,1791949499,996,18Aug2012,16:42:50,...,3,8758.0,"Arteta, Mikel",Midfielder,41.8,38.6,1,Pass,1,"Gibbs, Kieran"
1599,2012,441999,3,Arsenal,56,Sunderland,1012351275,997,18Aug2012,16:42:54,...,3,42427.0,"Gibbs, Kieran",Defender,46.6,91.6,1,Pass,1,"Ramsey, Aaron"
1600,2012,441999,3,Arsenal,56,Sunderland,1942106125,998,18Aug2012,16:42:56,...,3,41792.0,"Ramsey, Aaron",Substitute,49.6,78.2,1,Pass,1,"Gibbs, Kieran"
1601,2012,441999,3,Arsenal,56,Sunderland,1748370398,999,18Aug2012,16:42:56,...,3,42427.0,"Gibbs, Kieran",Defender,53.5,89.1,1,Pass,1,"Arshavin, Andrey"
1602,2012,441999,3,Arsenal,56,Sunderland,199629969,1000,18Aug2012,16:43:00,...,3,13227.0,"Arshavin, Andrey",Substitute,62.7,76.5,1,Pass,1,"Ramsey, Aaron"
1603,2012,441999,3,Arsenal,56,Sunderland,925382565,1001,18Aug2012,16:43:02,...,3,41792.0,"Ramsey, Aaron",Substitute,53.4,72.6,1,Pass,1,"Arteta, Mikel"
1604,2012,441999,3,Arsenal,56,Sunderland,1204795576,1002,18Aug2012,16:43:05,...,3,8758.0,"Arteta, Mikel",Midfielder,58.3,50.3,1,Pass,1,Loss

In [103]:
groups[140]

,season_id,match_id,home_team_id,home_team_name,away_team_id,away_team_name,id,event_id,date,time,...,team_id,player_id,playerName,playerPosition,x,y,type,description,outcome,next_entity
1610,2012,441999,3,Arsenal,56,Sunderland,2092311378,1005,18Aug2012,16:43:10,...,3,19524.0,"Cazorla, Santiago",Midfielder,73.1,46.0,4,Foul,0,"Mignolet, Simon"
1611,2012,441999,3,Arsenal,56,Sunderland,2075830623,615,18Aug2012,16:43:46,...,56,66797.0,"Mignolet, Simon",Goalkeeper,23.9,54.2,1,Pass,1,"Saha, Louis"
1612,2012,441999,3,Arsenal,56,Sunderland,1778145262,616,18Aug2012,16:43:47,...,56,4396.0,"Saha, Louis",Substitute,72.9,61.5,1,Pass,1,"McClean, James"
1613,2012,441999,3,Arsenal,56,Sunderland,1594806066,617,18Aug2012,16:43:54,...,56,63370.0,"McClean, James",Midfielder,75.8,85.9,1,Pass,1,"Meyler, David"
1614,2012,441999,3,Arsenal,56,Sunderland,1116620982,618,18Aug2012,16:43:56,...,56,53371.0,"Meyler, David",Substitute,75.6,96.7,1,Pass,1,"Richardson, Kieran"
1615,2012,441999,3,Arsenal,56,Sunderland,1676552621,619,18Aug2012,16:43:59,...,56,15073.0,"Richardson, Kieran",Midfielder,61.7,94.5,1,Pass,1,Loss

In [114]:
epl.description.unique()

array(['Team set up', 'Start', 'Pass', 'Ball touch', 'Out', 'Aerial',
       'Ball recovery', 'Dispossessed', 'Tackle', 'Clearance', 'Take On',
       'Deleted event', 'Challenge', 'Claim', 'Interception', 'Save',
       'Attempt Saved', 'Keeper pick-up', 'Foul', 'Miss',
       'Corner Awarded', 'Offside provoked', 'Offside Pass', 'End',
       'Player off', 'Player on', 'Start delay', 'End delay', 'Error',
       'Punch', 'Collection End', 'Card', 'Post', 'Shield ball opp',
       'Goal', 'Formation change', 'Keeper Sweeper', 'Penalty faced',
       'Contentious referee decision', 'Chance missed',
       'Cross not claimed', 'Good skill', 'Smother', 'Foul throw-in',
       'Player retired', 'Temp_Attempt'], dtype=object)

In [126]:
goal_is = epl[epl["description"] == "Goal"].index

epl.iloc[list(set(goal_is - 1).union(set(goal_is)).union(set(goal_is + 1)))]

,season_id,match_id,home_team_id,home_team_name,away_team_id,away_team_name,id,event_id,date,time,...,team_id,player_id,playerName,playerPosition,x,y,type,description,outcome,next_entity
73729,2012,442042,4,Newcastle United,45,Norwich City,46291342,207,23Sep2012,15:20:01,...,4,18753.0,"Ben Arfa, Hatem",Midfielder,54.9,33.1,1,Pass,1,"Ba, Demba"
73730,2012,442042,4,Newcastle United,45,Norwich City,15765060,208,23Sep2012,15:20:03,...,4,47412.0,"Ba, Demba",Striker,86.9,52.6,16,Goal,1,"Hoolahan, Wes"
73731,2012,442042,4,Newcastle United,45,Norwich City,1395872815,187,23Sep2012,15:21:03,...,45,28499.0,"Hoolahan, Wes",Midfielder,49.8,50.9,1,Pass,1,"Morison, Steve"
188420,2012,442109,3,Arsenal,6,Tottenham Hotspur,345693299,460,17Nov2012,13:31:19,...,3,19524.0,"Cazorla, Santiago",Midfielder,91.7,72.6,1,Pass,1,"Giroud, Olivier"
188421,2012,442109,3,Arsenal,6,Tottenham Hotspur,1954157632,461,17Nov2012,13:31:21,...,3,44346.0,"Giroud, Olivier",Striker,91.6,53.6,16,Goal,1,"Defoe, Jermain"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
598001,2012,442348,111,Wigan Athletic,6,Tottenham Hotspur,823861342,362,27Apr2013,16:07:27,...,111,61538.0,"McManaman, Callum",Striker,82.4,37.9,16,Goal,1,Shot
598002,2012,442348,111,Wigan Athletic,6,Tottenham Hotspur,351736095,461,27Apr2013,16:08:20,...,6,36903.0,"Bale, Gareth",Striker,50.1,49.9,1,Pass,1,"Defoe, Jermain"
458746,2012,442266,108,Reading,111,Wigan Athletic,731350704,648,23Feb2013,15:46:07,...,108,49982.0,"Morrison, Sean",Defender,57.9,31.7,51,Error,1,"Kone, Arouna"
458747,2012,442266,108,Reading,111,Wigan Athletic,926528393,503,23Feb2013,15:46:09,...,111,26921.0,"Kone, Arouna",Striker,87.9,32.2,16,Goal,1,"Pogrebnyak, Pavel"
458748,2012,442266,108,Reading,111,Wigan Athletic,421962947,342,23Feb2013,15:47:05,...,108,39439.0,"Pogrebnyak, Pavel",Striker,49.8,51.5,1,Pass,1,"McAnuff, Jobi"

In [122]:
goal_is - 1

Index([  2947,   4022,   4257,   4486,   4688,   5072,   5912,   6383,   6515,
         6584,
       ...
       646070, 646238, 646564, 646591, 646958, 647068, 647284, 647502, 647997,
       648307],
      dtype='int64', length=1063)

In [127]:
groups[0]

,season_id,match_id,home_team_id,home_team_name,away_team_id,away_team_name,id,event_id,date,time,...,team_id,player_id,playerName,playerPosition,x,y,type,description,outcome,next_entity
3,2012,441999,3,Arsenal,56,Sunderland,1755825990,2,18Aug2012,15:01:59,...,56,NaN,NaN,NaN,0.0,0.0,32,Start,1,"Podolski, Lukas"
4,2012,441999,3,Arsenal,56,Sunderland,164697335,3,18Aug2012,15:02:00,...,3,17733.0,"Podolski, Lukas",Striker,50.0,50.0,1,Pass,1,"Cazorla, Santiago"
5,2012,441999,3,Arsenal,56,Sunderland,763384109,4,18Aug2012,15:02:01,...,3,19524.0,"Cazorla, Santiago",Midfielder,53.7,50.3,1,Pass,1,"Vermaelen, Thomas"
6,2012,441999,3,Arsenal,56,Sunderland,708867683,5,18Aug2012,15:02:04,...,3,15943.0,"Vermaelen, Thomas",Defender,30.6,52.5,1,Pass,1,"Walcott, Theo"
7,2012,441999,3,Arsenal,56,Sunderland,383316420,6,18Aug2012,15:02:07,...,3,20467.0,"Walcott, Theo",Midfielder,77.8,4.2,61,Ball touch,0,Loss